<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/detail.css" type="text/css" />
</head>

<body>
    <table>
        <tr th:if="${validationError}" th:each="error : ${validationError}">
          <td style="color:red;" th:text="${error}"></td>
        </tr>
    </table>

    <h1>Update Todo</h1>

    <form method="POST" action="./updater">
        <ul>
            <li>
                <label for="title">Title</label>
                <input id="title" type="text" name="title"></input>
            </li>
            <li>
                <label for="detail">Detail</label>
                <textarea id="detail" type="text" name="detail"></textarea>
            </li>
            <li>
                <label for="dueDate">Due Date</label>
                <input id="dueDate" type="date" name="dueDate"></input>
            </li>
            <li><input type="hidden" name="todoId" th:value="${todoId}"></input></li>
            <li><input class="button" type="submit" name="updater" value="Updater"></input></li>
        </ul>
    </form>
</body>

</html>